// Import normalization styles
@import './assets/styles/normalization';
@import './assets/styles/granular_normalization';

// Import variables
@import './assets/styles/abstracts/variables';

// Import themes
@import './assets/styles/themes/dark';
@import './assets/styles/themes/light';

:root {
  // Light theme (default)
  --primary-color: #{$light-primary-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
  --border-color: #{$light-border-color};
}

html {
  box-sizing: border-box;
}

:host,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  line-height: inherit;
  color: var(--text-color);
  background-color: var(--background-color);
  font-synthesis-weight: none;
  text-rendering: optimizelegibility;
  transition: color 0.5s, background-color 0.5s;

  &.dark {
    --primary-color: #{$dark-primary-color};
    --background-color: #{$dark-background-color};
    --text-color: #{$dark-text-color};
    --border-color: #{$dark-border-color};
  }
}

*, ::after, ::before {
  border: 0 solid var(--border-color);
}
